body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.color-korbo{
    color: orange;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 30px;
}
.link-button{
    text-decoration: none;
    color: white;
    padding: 10px 30px;
    border-radius: 20px;
    background-image: linear-gradient(tomato, orange);
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.second-part{
    background-image: url(images/shapes/7.png);
}
.half-width{
    width: 50%;
    padding-left: 2%;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 50px;

}
.half-width img{
    width: 80%;
    
}
.menu-items{
    width: 40%;
    box-shadow: 10px 10px 40px gray;
    border-radius: 20px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    align-items: center;
    text-align: justify;

}
.menu-items img{
    width: 100%;

}
.center{
    text-align: center;
}
footer{
    text-align: center;
    background-color: black;
}
.tomato{
    color: tomato;
}
.green{
    color: green;
}
.white{
    color: whitesmoke;
}